body{
    color: white;
   
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
}
table{
    background-color: #a89968;
}
form{
    background-color: #224059;
    width: 50%;
    padding: 30px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#application{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitted {
    margin-top: 100px;
}